login
<a href="/">index</a>
<a href="logout">로그out</a>
<hr>
이름 : <%= n %>
<hr>

<% const msg = "java script 문법 사용가능" %>
<%= msg %>
<br>
<% const arr = [10,20,30,40]; %>
<%= arr[0] %> <%= arr[1] %> <%= arr[2] %><br>
<script>
    const name = "홍길동동";
    console.log("msg : "+ '<%=msg%>' )
</script>

