
    <h1>logout입니다</h1>
    <a href="/login">login 이동</a>
    <a href="/">index 이동</a>
    <hr>
    <%= c.key1 %><br>
    <%= c['key2'] %><br>
    <%= c.key3 %><br>
    <%= c.key4 %><br>
    <%= c.key4['k1'] %><br>

